# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Trained model files
bart_full_finetuned/
bart_lora/
bart_lora/checkpoint-*/

# Hugging Face cache
.cache/
huggingface_cache/

# IDE files
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log
